<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid col-sm-offset-1">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">班级说说</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav  ">
                            <li class="active">
                                <a href="#">全部说说
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">成员列表</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav  navbar-right col-sm-offset--1">
                            <li>
                                <a href="#">登录
                                </a>
                            </li>
                            <li>
                                <a href="#">注册</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/bootstrap"></script>
</body>

</html>