<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
        .login {
            margin-top: 110px;
        }
    </style>
</head>

<body>
    <!-- header -->
    <%- include('header.ejs')%>
        <!-- login  -->
        <div class="container login ">
            <div class="row">
                <form class="col-sm-6 col-sm-offset-3">
                    <h2>请登录 ！</h2>
                    <div class="form-group ">
                        <label for="username">用户名</label>
                        <input type="text" class="form-control " id="username" placeholder="用户名，可以是中文，不能和别人重复">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" placeholder="密码，至少6位">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> 10天内免登陆
                        </label>
                    </div>
                    <button type="submit" id="butt" class="btn btn-default">登录</button>
                </form>
            </div>

        </div>


        <script src="/js/jquery-3.2.1.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script>
            $('#butt').click(() => {
                let fields = {
                    username: $('#username').val(),
                    password: $('#password').val(),
                    event: 'doLogin'
                };
                $.post('/dologin', fields, (data) => {
                    console.log(data)
                    if (data == '1') {
                        alert('登录成功，将跳转到首页');
                        window.location = '/'
                    } else {
                        alert('账号或者密码输入错误，请重新输入');

                    }
                })
            })
        </script>




</body>

</html>